<webobject name = "CRIDefaultPage1">
  <webobject name = "scriptCacheDetail" />
  <webobject name = "Form1">
    <b>
      <font color = "#930084">ANNEE&nbsp;UNIVERSITAIRE&nbsp;:&nbsp;</font>
    </b>&nbsp;<webobject name = "PopUpButton1" />
    <br />
  </webobject>
  <table align = "CENTER" border = "0" cellspacing = "0" cellpadding = "0">
    <tr>
      <webobject name = "GenericContainer10"> <webobject name = "lesOngletsDuBandeau" /> </webobject>
      <td width = "9" height = "54"><webobject name = "imFinLigneOnglets" /></td>
    </tr>
    <tr>
      <webobject name = "GC6G" />
      <td bgcolor = "#E6E6E6" height = "6" width = "985"></td>
      <td width = "9" height = "6"><webobject name = "ImBordDH2" /></td>
    </tr>
    <tr valign = "TOP" align = "LEFT">
      <webobject name = "GCBordG" />
      <td bgcolor = "#E6E6E6" width = "985" height = "450">
        <webobject name = "Conditional1"><webobject name = "moduleIpEtud" /></webobject>
        <webobject name = "Conditional2"><webobject name = "maListeDipl" /></webobject>
        <webobject name = "Conditional3"><webobject name = "Mod_datesIpDipl1" /></webobject>
        <webobject name = "Conditional4"><webobject name = "Mod_datesIpDom1" /></webobject>
        <webobject name = "Conditional5"><webobject name = "Mod_commentaires1" /></webobject>
        <webobject name = "Conditional6"><webobject name = "Mod_autoRnDipl" /></webobject>
        <webobject name = "Conditional7"><webobject name = "Mod_diplAvecRN" /></webobject>
        <webobject name = "Conditional8"><webobject name = "Mod_listeInscDipl" /></webobject>
        <webobject name = "CondEnvoiMail"><webobject name = "Mod_EnvoiMail" /></webobject>
      </td>
      <webobject name = "GCBordD" />
    </tr>
    <tr>
      <td width = "7" height = "9"><webobject name = "ImagBordGB" /></td>
      <webobject name = "GCBordB" />
      <td width = "9" height = "9"><webobject name = "ImagBordDB" /></td>
    </tr>
  </table>
  <webobject name = "CRIHTMLFooter1" />
</webobject>