<center>
  <webobject name = "Image1" />&nbsp;&nbsp;<b>Identification...</b>
  <hr color = "#0069b3" style = "filter:alpha(opacity=100, finishopacity=0,style=1 )" width = "70%" />
  <br />
  <webobject name = "Conditional9">
    <b>
      <webobject name = "Hyperlink3">Acc&eacute;s des &eacute;tudiants (inscrits) &agrave; l'application<i> <webobject name = "String2" /></i>
      </webobject>
    </b>
    <br />
    <br />Une authentification sera demand&eacute;e<br />si vous vous connectez pour la premi&egrave;re fois<br />
  </webobject>
  <webobject name = "Conditional8">
    <webobject name = "Conditional5">
      <webobject name = "Form2">
        <table height = "60" border = "0" cellspacing = "0" cellpadding = "0">
          <tr>
            <td>N&deg; &eacute;tudiant 
              <font color = "#a9a9a9">(n&deg; &agrave; 5 chiffres au plus)</font>
            </td>
            <td><webobject name = "TextField3" /></td>
          </tr>
          <tr>
            <td>Date de
              Naissance <font color = "#a9a9a9">(ex. 1/1/1988)</font>
            </td>
            <td><webobject name = "PasswordField2" /></td>
          </tr>
          <tr>
            <td colspan = "2" align = "CENTER"><webobject name = "SubmitButton2" /></td>
          </tr>
          <webobject name = "Conditional6">
            <tr>
              <td colspan = "2" align = "CENTER"></td>
            </tr>
          </webobject>
        </table>
        <p align = "CENTER">
          <b>Pour acc&egrave;der &agrave; l'application vous devez :</b>
          <br />
          <br />indiquer votre num&eacute;ro d'&eacute;tudiant et votre date de naissance, puis cliquer sur le bouton &quot;VALIDER&quot;.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      </webobject>
    </webobject>
    <br />
    <webobject name = "Conditional4">
      <webobject name = "formLogin">
        <table border = "0">
          <tr valign = "middle">
            <td align = "right">
              <nobr>
                <font class = "subTitle">Votre mail &eacute;tudiant&nbsp;:</font>
              </nobr>
            </td>
            <td>
              <nobr>
                <webobject name = "txtLogin" />@<webobject name = "TextField2" />
              </nobr>
            </td>
          </tr>
          <tr valign = "middle">
            <td align = "right">
              <nobr>
                <font class = "subTitle">Mot de passe&nbsp;:</font>
              </nobr>
            </td>
            <td><webobject name = "txtPassw" /></td>
          </tr>
          <tr>
            <td align = "center" colspan = "2">
              <br />
              <webobject name = "btnConnect" />
            </td>
          </tr>
        </table>
        <p align = "CENTER">
          <b>Pour acc&egrave;der &agrave; l'application vous devez :</b>
          <br />
          <br />indiquer le mail &eacute;tudiant et le mot de passe d&eacute;livr&eacute; lors de votre inscription administrative , puis cliquer sur le bouton &quot;VALIDER&quot;.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      </webobject>
    </webobject>
    <webobject name = "erreurLogin">
      <hr class = "subLine" />
      <b>
        <font class = "textError"><webobject name = "String3" /></font>
        <br />
        Veuillez v&eacute;rifier votre saisie.</b>
    </webobject>
  </webobject>
  <webobject name = "Form3">
    <p align = "CENTER"><webobject name = "SubmitButton4" /></p>
  </webobject>
  <hr color = "#0069b3" style = "filter:alpha(opacity=100, finishopacity=0,style=1 )" width = "70%" />
  <br />
  <webobject name = "Conditional3">
    <br />
    <b>
      <webobject name = "Hyperlink1">Acc&egrave;s &eacute;tudiants sans inscription administrative</webobject>
    </b>
    <br />
    <br />(Si vous n'&ecirc;tes pas encore inscrits pour l'ann&eacute;e en cours)<br />
    <br />
  </webobject>
  <br />
  <hr width = "80%" />
  <webobject name = "Conditional2">
    <b>
      <webobject name = "Hyperlink2">Accés
        des personnels à l'application<i> <webobject name = "String1" /></i>
      </webobject>
    </b>
    <br />
    <br />
    Une authentification sera demand&eacute;e<br />
    si vous vous connectez pour la premi&egrave;re fois<br />
  </webobject>
  <webobject name = "Conditional7">
    <webobject name = "Form1">
      <b>Accés
        des personnels à
        l'application</b>
      <br />
      <br />
      <table height = "60" border = "0" cellspacing = "0" cellpadding = "0">
        <tr>
          <td>Login</td>
          <td><webobject name = "TextField1" /></td>
        </tr>
        <tr>
          <td>mdp&nbsp;</td>
          <td><webobject name = "PasswordField1" /></td>
        </tr>
        <tr>
          <td colspan = "2" align = "CENTER"><webobject name = "SubmitButton1" /></td>
        </tr>
        <webobject name = "Conditional1">
          <tr>
            <td colspan = "2" align = "CENTER"></td>
          </tr>
        </webobject>
      </table>
    </webobject>
  </webobject>
  <hr width = "80%" />
</center>