{
    attributes = (
        {
            columnName = "FANN_KEY"; 
            externalType = NUMBER; 
            name = fannKey; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "GECI_KEY"; 
            externalType = NUMBER; 
            name = geciKey; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "GECI_LIBELLE"; 
            externalType = VARCHAR2; 
            name = geciLibelle; 
            valueClassName = NSString; 
            width = 150; 
        }
    ); 
    attributesUsedForLocking = (fannKey, geciKey); 
    className = EOGenericRecord; 
    classProperties = (fannKey, geciLibelle); 
    externalName = "IP_GROUPE_EC_INCOMPATIBLES"; 
    fetchSpecificationDictionary = {}; 
    name = IpGroupeEcIncompatibles; 
    primaryKeyAttributes = (geciKey); 
}
