{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "ETUD_NUMERO"; 
            externalType = NUMBER; 
            name = etudNumero; 
            precision = 8; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            columnName = "FANN_KEY"; 
            externalType = NUMBER; 
            name = fannKey; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "IDIPL_NUMERO"; 
            externalType = NUMBER; 
            name = idiplNumero; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MRSEM_KEY"; 
            externalType = NUMBER; 
            name = mrsemKey; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MSEM_ORDRE"; 
            externalType = NUMBER; 
            name = msemOrdre; 
            precision = 1; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "PCL_DATE_LOG"; 
            externalType = DATE; 
            name = pclDateLog; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            columnName = "PCL_LOG_ORDRE"; 
            externalType = NUMBER; 
            name = pclLogOrdre; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            columnName = "TYPE_ACTION"; 
            externalType = VARCHAR2; 
            name = typeAction; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 2; 
        }
    ); 
    attributesUsedForLocking = (etudNumero, idiplNumero, mrsemKey, typeAction); 
    className = "org.cocktail.ipweb.serveur.metier.IpParchoixLog"; 
    classProperties = (etudNumero, fannKey, idiplNumero, mrsemKey, msemOrdre, pclDateLog, typeAction); 
    externalName = "IP_PARCHOIX_LOG"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_clientClassPropertyNames" = (msemOrdre); }; 
    name = IpParchoixLog; 
    primaryKeyAttributes = (pclLogOrdre); 
}
