{
    attributes = (
        {
            columnName = "BAC_CODE"; 
            externalType = VARCHAR2; 
            name = bacCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 4; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ETAB_CODE_SUP"; 
            externalType = VARCHAR2; 
            name = etabCodeSup; 
            valueClassName = NSString; 
            valueType = S; 
            width = 8; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ETUD_ANBAC"; 
            externalType = NUMBER; 
            name = etudAnbac; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ETUD_ANNEE_1INSC_SUP"; 
            externalType = NUMBER; 
            name = etudAnnee1InscSup; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ETUD_ANNEE_1INSC_ULR"; 
            externalType = NUMBER; 
            name = etudAnnee1InscUlr; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "ETUD_ANNEE_1INSC_UNIV"; 
            externalType = NUMBER; 
            name = etudAnnee1InscUniv; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ETUD_CODE_INE"; 
            externalType = VARCHAR2; 
            name = etudCodeIne; 
            valueClassName = NSString; 
            valueType = S; 
            width = 11; 
        }, 
        {
            columnName = "ETUD_NUMERO"; 
            externalType = NUMBER; 
            name = etudNumero; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ETUD_REIMMATRICULATION"; 
            externalType = VARCHAR2; 
            name = etudReimmatriculation; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ETUD_VILLE_BAC"; 
            externalType = VARCHAR2; 
            name = etudVilleBac; 
            valueClassName = NSString; 
            valueType = S; 
            width = 50; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MENT_CODE"; 
            externalType = VARCHAR2; 
            name = mentCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }, 
        {
            columnName = "NO_INDIVIDU"; 
            externalType = NUMBER; 
            name = noIndividu; 
            precision = 8; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "pers_id"; 
            externalType = NUMBER; 
            name = persId; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "THEB_CODE"; 
            externalType = VARCHAR2; 
            name = thebCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }
    ); 
    attributesUsedForLocking = (etudCodeIne, etudNumero, noIndividu); 
    className = EOGenericRecord; 
    classProperties = (
        bacCode, 
        etabCodeSup, 
        etudAnbac, 
        etudAnnee1InscSup, 
        etudAnnee1InscUlr, 
        etudAnnee1InscUniv, 
        etudCodeIne, 
        etudNumero, 
        etudReimmatriculation, 
        etudVilleBac, 
        mentCode, 
        noIndividu, 
        persId, 
        thebCode, 
        toScolInscriptionEtudiants
    ); 
    externalName = ETUDIANT; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (
            bacCode, 
            etabCodeSup, 
            etudAnbac, 
            etudAnnee1InscSup, 
            etudAnnee1InscUlr, 
            etudAnnee1InscUniv, 
            etudCodeIne, 
            etudNumero, 
            etudReimmatriculation, 
            etudVilleBac, 
            mentCode, 
            thebCode
        ); 
    }; 
    name = IpwEtudiant; 
    primaryKeyAttributes = (noIndividu); 
    relationships = (
        {
            destination = IpwScolInscriptionEtudiant; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = etudNumero; sourceAttribute = etudNumero; }); 
            name = toScolInscriptionEtudiants; 
        }
    ); 
}
