{
    attributes = (
        {
            columnName = "IPM_CODE"; 
            externalType = VARCHAR2; 
            name = ipmCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 20; 
        }, 
        {
            allowsNull = Y; 
            columnName = "IPM_COMMENT"; 
            externalType = VARCHAR2; 
            name = ipmComment; 
            valueClassName = NSString; 
            valueType = S; 
            width = 500; 
        }, 
        {
            columnName = "IPM_KEY"; 
            externalType = NUMBER; 
            name = ipmKey; 
            precision = 3; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "IPM_ORDRE"; 
            externalType = NUMBER; 
            name = ipmOrdre; 
            precision = 3; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "IPM_TITRE_MENU"; 
            externalType = VARCHAR2; 
            name = ipmTitreMenu; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            columnName = "IPM_VALIDE"; 
            externalType = VARCHAR2; 
            name = ipmValide; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }
    ); 
    attributesUsedForLocking = (ipmKey); 
    cachesObjects = Y; 
    className = EOGenericRecord; 
    classProperties = (ipmCode, ipmComment, ipmKey, ipmOrdre, ipmTitreMenu, ipmValide); 
    externalName = "IPW_MODULES"; 
    fetchSpecificationDictionary = {}; 
    isReadOnly = Y; 
    name = IpwModules; 
    primaryKeyAttributes = (ipmKey); 
}
