{
    attributes = (
        {
            columnName = "FANN_COURANTE"; 
            externalType = VARCHAR2; 
            name = fannCourante; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }, 
        {
            allowsNull = N; 
            columnName = "FANN_KEY"; 
            externalType = NUMBER; 
            name = fannKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (fannCourante, fannKey); 
    className = EOGenericRecord; 
    classProperties = (fannCourante, fannKey); 
    externalName = "SCOL_FORMATION_ANNEE"; 
    name = IpwScolFormationAnnee; 
    primaryKeyAttributes = (fannKey); 
}
