{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "ADR_CIVILITE"; 
            externalType = VARCHAR2; 
            name = adrCivilite; 
            valueClassName = NSString; 
            valueType = S; 
            width = 5; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ADR_NOM"; 
            externalType = VARCHAR2; 
            name = adrNom; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ADR_ORDRE_PARENT"; 
            externalType = NUMBER; 
            name = adrOrdreParent; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ADR_ORDRE_SCOL"; 
            externalType = NUMBER; 
            name = adrOrdreScol; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ADR_PRENOM"; 
            externalType = VARCHAR2; 
            name = adrPrenom; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ADR_PRENOM2"; 
            externalType = VARCHAR2; 
            name = adrPrenom2; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ANNEE_DIPLOME"; 
            externalType = varchar2; 
            name = anneeDiplome; 
            valueClassName = NSString; 
            width = 15; 
        }, 
        {
            allowsNull = Y; 
            columnName = "CPT_ORDRE"; 
            externalType = NUMBER; 
            name = cptOrdre; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = DIPLOME; 
            externalType = varchar2; 
            name = diplome; 
            valueClassName = NSString; 
            valueType = S; 
            width = 300; 
        }, 
        {
            allowsNull = N; 
            columnName = "DIPLOME_LL"; 
            externalType = VARCHAR2; 
            name = diplomeLl; 
            valueClassName = NSString; 
            valueType = S; 
            width = 500; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ETUD_CODE_INE"; 
            externalType = VARCHAR2; 
            name = etudCodeIne; 
            valueClassName = NSString; 
            valueType = S; 
            width = 11; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ETUD_NOM_MARITAL"; 
            externalType = VARCHAR2; 
            name = etudNomMarital; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            columnName = "ETUD_NUMERO"; 
            externalType = NUMBER; 
            name = etudNumero; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "FANN_KEY"; 
            externalType = NUMBER; 
            name = fannKey; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "FDIP_ABREVIATION"; 
            externalType = VARCHAR2; 
            name = fdipAbreviation; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            allowsNull = Y; 
            columnName = "FDIP_CODE"; 
            externalType = VARCHAR2; 
            name = fdipCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 7; 
        }, 
        {
            allowsNull = Y; 
            columnName = "FDIP_MENTION"; 
            externalType = VARCHAR2; 
            name = fdipMention; 
            valueClassName = NSString; 
            valueType = S; 
            width = 200; 
        }, 
        {
            allowsNull = Y; 
            columnName = "FDIP_SPECIALITE"; 
            externalType = VARCHAR2; 
            name = fdipSpecialite; 
            valueClassName = NSString; 
            valueType = S; 
            width = 200; 
        }, 
        {
            allowsNull = Y; 
            columnName = "FDOM_CODE"; 
            externalType = VARCHAR2; 
            name = fdomCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 5; 
        }, 
        {
            allowsNull = Y; 
            columnName = "FGRA_CODE"; 
            externalType = VARCHAR2; 
            name = fgraCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 5; 
        }, 
        {
            allowsNull = Y; 
            columnName = "FSPN_KEY"; 
            externalType = NUMBER; 
            name = fspnKey; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "FSPN_LIBELLE"; 
            externalType = VARCHAR2; 
            name = fspnLibelle; 
            valueClassName = NSString; 
            valueType = S; 
            width = 200; 
        }, 
        {
            columnName = "HIST_NUMERO"; 
            externalType = NUMBER; 
            name = histNumero; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "IDIPL_ANNEE_SUIVIE"; 
            externalType = NUMBER; 
            name = idiplAnneeSuivie; 
            precision = 1; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "IDIPL_DATE_DEMISSION"; 
            externalType = DATE; 
            name = idiplDateDemission; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            allowsNull = Y; 
            columnName = "IDIPL_DATE_INSC"; 
            externalType = DATE; 
            name = idiplDateInsc; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            columnName = "IDIPL_NUMERO"; 
            externalType = NUMBER; 
            name = idiplNumero; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "IDIPL_PASSAGE_CONDITIONNEL"; 
            externalType = VARCHAR2; 
            name = idiplPassageConditionnel; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }, 
        {
            columnName = "IDIPL_REDOUBLANT"; 
            externalType = VARCHAR2; 
            name = idiplRedoublant; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }, 
        {
            allowsNull = Y; 
            columnName = "IDIPL_TYPE_INSCRIPTION"; 
            externalType = NUMBER; 
            name = idiplTypeInscription; 
            precision = 1; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "IETUD_BASE"; 
            externalType = NUMBER; 
            name = ietudBase; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            columnName = "IETUD_ETAT"; 
            externalType = NUMBER; 
            name = ietudEtat; 
            precision = 1; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "IETUD_KEY"; 
            externalType = NUMBER; 
            name = ietudKey; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "IETUD_MENTION1"; 
            externalType = VARCHAR2; 
            name = ietudMention1; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }, 
        {
            columnName = "IETUD_MENTION2"; 
            externalType = VARCHAR2; 
            name = ietudMention2; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }, 
        {
            allowsNull = Y; 
            columnName = "IETUD_MOYENNE1"; 
            externalType = NUMBER; 
            name = ietudMoyenne1; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            allowsNull = Y; 
            columnName = "IETUD_MOYENNE2"; 
            externalType = NUMBER; 
            name = ietudMoyenne2; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            columnName = "IETUD_PONDERATION"; 
            externalType = NUMBER; 
            name = ietudPonderation; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            columnName = "IETUD_POURCENTAGE1"; 
            externalType = NUMBER; 
            name = ietudPourcentage1; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            columnName = "IETUD_POURCENTAGE2"; 
            externalType = NUMBER; 
            name = ietudPourcentage2; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            allowsNull = Y; 
            columnName = "IETUD_RANG"; 
            externalType = NUMBER; 
            name = ietudRang; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "LIBELLE_INSCRIPTION"; 
            externalType = VARCHAR2; 
            name = libelleInscription; 
            valueClassName = NSString; 
            valueType = S; 
            width = 50; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MPAR_KEY"; 
            externalType = NUMBER; 
            name = mparKey; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "NO_INDIVIDU"; 
            externalType = NUMBER; 
            name = noIndividu; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "PERS_ID"; 
            externalType = NUMBER; 
            name = persId; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "RES_CODE"; 
            externalType = VARCHAR2; 
            name = resCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }
    ); 
    attributesUsedForLocking = (diplomeLl, idiplNumero); 
    className = EOGenericRecord; 
    classProperties = (
        adrCivilite, 
        adrNom, 
        adrOrdreParent, 
        adrOrdreScol, 
        adrPrenom, 
        adrPrenom2, 
        anneeDiplome, 
        cptOrdre, 
        diplome, 
        diplomeLl, 
        etudCodeIne, 
        etudNomMarital, 
        etudNumero, 
        fannKey, 
        fdipAbreviation, 
        fdipCode, 
        fdipMention, 
        fdipSpecialite, 
        fdomCode, 
        fgraCode, 
        fspnKey, 
        fspnLibelle, 
        histNumero, 
        idiplAnneeSuivie, 
        idiplDateDemission, 
        idiplDateInsc, 
        idiplNumero, 
        idiplPassageConditionnel, 
        idiplRedoublant, 
        idiplTypeInscription, 
        ietudBase, 
        ietudEtat, 
        ietudKey, 
        ietudMention1, 
        ietudMention2, 
        ietudMoyenne1, 
        ietudMoyenne2, 
        ietudPonderation, 
        ietudPourcentage1, 
        ietudPourcentage2, 
        ietudRang, 
        libelleInscription, 
        mparKey, 
        noIndividu, 
        persId, 
        resCode, 
        toScolMaqParcoursSemestres
    ); 
    externalName = "SCOL_INSCRIPTION_ETUDIANT"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (
            adrCivilite, 
            adrNom, 
            adrOrdreParent, 
            adrOrdreScol, 
            adrPrenom, 
            adrPrenom2, 
            cptOrdre, 
            diplome, 
            etudCodeIne, 
            etudNomMarital, 
            etudNumero, 
            fannKey, 
            fdipAbreviation, 
            fdipCode, 
            fdipMention, 
            fdipSpecialite, 
            fdomCode, 
            fgraCode, 
            fspnKey, 
            fspnLibelle, 
            histNumero, 
            idiplAnneeSuivie, 
            idiplDateDemission, 
            idiplDateInsc, 
            idiplNumero, 
            idiplPassageConditionnel, 
            idiplRedoublant, 
            idiplTypeInscription, 
            ietudBase, 
            ietudEtat, 
            ietudKey, 
            ietudMention1, 
            ietudMention2, 
            ietudMoyenne1, 
            ietudMoyenne2, 
            ietudPonderation, 
            ietudPourcentage1, 
            ietudPourcentage2, 
            ietudRang, 
            libelleInscription, 
            mparKey, 
            noIndividu, 
            persId, 
            resCode
        ); 
    }; 
    name = IpwScolInscriptionEtudiant; 
    primaryKeyAttributes = (idiplNumero); 
    relationships = (
        {
            destination = ScolMaqParcoursSemestre; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = (
                {destinationAttribute = anneeSuivie; sourceAttribute = idiplAnneeSuivie; }, 
                {destinationAttribute = fspnKey; sourceAttribute = fspnKey; }
            ); 
            name = toScolMaqParcoursSemestres; 
        }
    ); 
}
