{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "DATAS_PHOTO"; 
            externalType = "LONG RAW"; 
            name = datasPhoto; 
            valueClassName = NSData; 
        }, 
        {
            allowsNull = Y; 
            columnName = "DATE_PRISE"; 
            externalType = DATE; 
            name = datePrise; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            columnName = "NO_INDIVIDU"; 
            externalType = NUMBER; 
            name = noIndividu; 
            precision = 8; 
            valueClassName = NSNumber; 
            valueType = l; 
        }
    ); 
    attributesUsedForLocking = (datePrise, noIndividu); 
    className = EOGenericRecord; 
    classProperties = (datasPhoto, datePrise, noIndividu); 
    externalName = "PHOTOS_ETUDIANTS_OLD_GRHUM"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (datasPhoto, datePrise); 
        "_nameInObjectStore" = "PHOTOS_ETUDIANTS_OLD_GRHUM@BLOBS. bill04"; 
    }; 
    name = PhotosEtudiantsOldGRHUM; 
    primaryKeyAttributes = (noIndividu); 
}
