{
    attributes = (
        {
            allowsNull = N; 
            columnName = "CDIS_KEY"; 
            externalType = NUMBER; 
            name = cdisKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "CDIS_LIBELLE"; 
            externalType = VARCHAR2; 
            name = cdisLibelle; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }
    ); 
    attributesUsedForLocking = (cdisKey); 
    className = EOGenericRecord; 
    classProperties = (cdisKey, cdisLibelle); 
    externalName = "SCOLARITE.SCOL_CONSTANTE_DISPENSE"; 
    fetchSpecificationDictionary = {}; 
    name = ScolConstanteDispense; 
    primaryKeyAttributes = (cdisKey); 
}
