{
    attributes = (
        {
            allowsNull = N; 
            columnName = "FANN_KEY"; 
            externalType = NUMBER; 
            name = fannKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "MRUE_BONIFIABLE"; 
            externalType = NUMBER; 
            name = mrueBonifiable; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "MRUE_COEFFICIENT"; 
            externalType = NUMBER; 
            name = mrueCoefficient; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            allowsNull = N; 
            columnName = "MRUE_COMPTABILISABLE"; 
            externalType = NUMBER; 
            name = mrueComptabilisable; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "MRUE_KEY"; 
            externalType = NUMBER; 
            name = mrueKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "MRUE_NOTE_BASE"; 
            externalType = NUMBER; 
            name = mrueNoteBase; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MRUE_NOTE_ELIMINATION"; 
            externalType = NUMBER; 
            name = mrueNoteElimination; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            allowsNull = N; 
            columnName = "MRUE_NOTE_OBTENTION"; 
            externalType = NUMBER; 
            name = mrueNoteObtention; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            allowsNull = N; 
            columnName = "MRUE_ORDRE"; 
            externalType = NUMBER; 
            name = mrueOrdre; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "MSEM_KEY"; 
            externalType = NUMBER; 
            name = msemKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "MUE_KEY"; 
            externalType = NUMBER; 
            name = mueKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (mrueKey); 
    className = EOGenericRecord; 
    classProperties = (
        fannKey, 
        mrueBonifiable, 
        mrueCoefficient, 
        mrueComptabilisable, 
        mrueKey, 
        mrueNoteBase, 
        mrueNoteElimination, 
        mrueNoteObtention, 
        mrueOrdre, 
        msemKey, 
        mueKey, 
        toScolMaquetteSemestre, 
        toScolMaquetteUe
    ); 
    externalName = "SCOLARITE.SCOL_MAQUETTE_REPARTITION_UE"; 
    fetchSpecificationDictionary = {}; 
    name = ScolMaquetteRepartitionUe; 
    primaryKeyAttributes = (mrueKey); 
    relationships = (
        {
            destination = ScolMaquetteSemestre; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = msemKey; sourceAttribute = msemKey; }); 
            name = toScolMaquetteSemestre; 
        }, 
        {
            destination = ScolMaquetteUe; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = mueKey; sourceAttribute = mueKey; }); 
            name = toScolMaquetteUe; 
        }
    ); 
}
