{
    attributes = (
        {
            allowsNull = N; 
            columnName = "FANN_KEY"; 
            externalType = NUMBER; 
            name = fannKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "FDOM_CODE"; 
            externalType = VARCHAR2; 
            name = fdomCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 5; 
        }, 
        {
            allowsNull = N; 
            columnName = "MUE_CODE"; 
            externalType = VARCHAR2; 
            name = mueCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 15; 
        }, 
        {
            allowsNull = N; 
            columnName = "MUE_HORAIRE_ETU"; 
            externalType = NUMBER; 
            name = mueHoraireEtu; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            allowsNull = N; 
            columnName = "MUE_KEY"; 
            externalType = NUMBER; 
            name = mueKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MUE_LIBELLE"; 
            externalType = VARCHAR2; 
            name = mueLibelle; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            allowsNull = N; 
            columnName = "MUE_POINTS"; 
            externalType = NUMBER; 
            name = muePoints; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }
    ); 
    attributesUsedForLocking = (mueKey); 
    className = EOGenericRecord; 
    classProperties = (fannKey, fdomCode, mueCode, mueHoraireEtu, mueKey, mueLibelle, muePoints); 
    externalName = "SCOLARITE.SCOL_MAQUETTE_UE"; 
    fetchSpecificationDictionary = {}; 
    name = ScolMaquetteUe; 
    primaryKeyAttributes = (mueKey); 
}
