{
    attributes = (
        {
            columnName = "CPT_LOGIN"; 
            externalType = VARCHAR2; 
            name = cptLogin; 
            valueClassName = NSString; 
            valueType = S; 
            width = 20; 
        }, 
        {
            allowsNull = N; 
            columnName = "CPT_ORDRE"; 
            externalType = NUMBER; 
            name = cptOrdre; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "ETUD_NUMERO"; 
            externalType = NUMBER; 
            name = etudNumero; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (cptOrdre, etudNumero); 
    className = EOGenericRecord; 
    classProperties = (cptLogin, cptOrdre, etudNumero); 
    externalName = "V_COMPTE_ETUDIANT"; 
    fetchSpecificationDictionary = {}; 
    name = VCompteEtudiant; 
    primaryKeyAttributes = (cptOrdre, etudNumero); 
}
