{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "ADR_NOM"; 
            externalType = VARCHAR2; 
            name = adrNom; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ADR_PRENOM"; 
            externalType = VARCHAR2; 
            name = adrPrenom; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            allowsNull = Y; 
            columnName = EMAIL; 
            externalType = VARCHAR2; 
            name = email; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ETAT_IP"; 
            externalType = NUMBER; 
            name = etatIp; 
            precision = 1; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "ETUD_NUMERO"; 
            externalType = NUMBER; 
            name = etudNumero; 
            precision = 6; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "FANN_KEY"; 
            externalType = NUMBER; 
            name = fannKey; 
            precision = 4; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "FHAB_NIVEAU"; 
            externalType = NUMBER; 
            name = fhabNiveau; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "FSPN_KEY"; 
            externalType = NUMBER; 
            name = fspnKey; 
            precision = 6; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "IDIPL_NUMERO"; 
            externalType = NUMBER; 
            name = idiplNumero; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "IDIPL_REDOUBLANT"; 
            externalType = VARCHAR2; 
            name = idiplRedoublant; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }, 
        {
            allowsNull = Y; 
            columnName = "IDIPL_TYPE_INSCRIPTION"; 
            externalType = NUMBER; 
            name = idiplTypeInscription; 
            precision = 1; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "IMRSEM_ETAT"; 
            externalType = NUMBER; 
            name = imrsemEtat; 
            precision = 1; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "IMRSEM_POINTS1"; 
            externalType = NUMBER; 
            name = imrsemPoints1; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "IMRSEM_POINTS2"; 
            externalType = NUMBER; 
            name = imrsemPoints2; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "IMRSEM_SESSION1"; 
            externalType = VARCHAR2; 
            name = imrsemSession1; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 6; 
        }, 
        {
            columnName = "IMRSEM_SESSION2"; 
            externalType = VARCHAR2; 
            name = imrsemSession2; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 6; 
        }, 
        {
            columnName = "LIB_DISPENSE"; 
            externalType = VARCHAR2; 
            name = libDispense; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 15; 
        }, 
        {
            columnName = "LIB_RES_SEM"; 
            externalType = VARCHAR2; 
            name = libResSem; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 50; 
        }, 
        {
            columnName = MENTION1; 
            externalType = VARCHAR2; 
            name = mention1; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 10; 
        }, 
        {
            columnName = MENTION2; 
            externalType = VARCHAR2; 
            name = mention2; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 10; 
        }, 
        {
            columnName = "MSEM_KEY"; 
            externalType = NUMBER; 
            name = msemKey; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "MSEM_ORDRE"; 
            externalType = NUMBER; 
            name = msemOrdre; 
            precision = 1; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "RES_CODE"; 
            externalType = VARCHAR2; 
            name = resCode; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }
    ); 
    attributesUsedForLocking = (idiplNumero, msemKey); 
    className = EOGenericRecord; 
    classProperties = (
        adrNom, 
        adrPrenom, 
        email, 
        etatIp, 
        etudNumero, 
        fannKey, 
        fhabNiveau, 
        fspnKey, 
        idiplRedoublant, 
        idiplTypeInscription, 
        imrsemEtat, 
        imrsemPoints1, 
        imrsemPoints2, 
        imrsemSession1, 
        imrsemSession2, 
        libDispense, 
        libResSem, 
        mention1, 
        mention2, 
        msemKey, 
        msemOrdre, 
        resCode
    ); 
    externalName = "V_ETUD_INSC_SEMESTRE_RES_EMAIL"; 
    internalInfo = {
        "_clientClassPropertyNames" = (
            adrNom, 
            adrPrenom, 
            email, 
            etatIp, 
            etudNumero, 
            fannKey, 
            fspnKey, 
            idiplRedoublant, 
            idiplTypeInscription, 
            imrsemEtat, 
            msemOrdre, 
            resCode
        ); 
    }; 
    name = vEtudInscSemestreResEmail; 
    primaryKeyAttributes = (idiplNumero); 
}
