{
    attributes = (
        {
            columnName = "C_VLAN"; 
            externalType = VARCHAR2; 
            name = cVlan; 
            valueClassName = NSString; 
            valueType = S; 
            width = 5; 
        }, 
        {
            columnName = "D_CREATION"; 
            externalType = DATE; 
            name = dCreation; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            columnName = "D_MODIFICATION"; 
            externalType = DATE; 
            name = dModification; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            allowsNull = Y; 
            columnName = "LISTE_IP"; 
            externalType = VARCHAR2; 
            name = listeIp; 
            valueClassName = NSString; 
            valueType = S; 
            width = 50; 
        }, 
        {
            allowsNull = Y; 
            columnName = "LL_VLAN"; 
            externalType = VARCHAR2; 
            name = llVlan; 
            valueClassName = NSString; 
            valueType = S; 
            width = 20; 
        }, 
        {
            allowsNull = Y; 
            columnName = PRIORITE; 
            externalType = NUMBER; 
            name = priorite; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            allowsNull = Y; 
            columnName = "PRISE_COMPTE"; 
            externalType = CHAR; 
            name = priseCompte; 
            valueClassName = NSString; 
            valueType = c; 
            width = 1; 
        }
    ); 
    attributesUsedForLocking = (cVlan, listeIp, llVlan, priorite, priseCompte); 
    className = EOGenericRecord; 
    classProperties = (dCreation, dModification, listeIp, llVlan, priorite, priseCompte); 
    externalName = VLANS; 
    fetchSpecificationDictionary = {}; 
    name = Vlans; 
    primaryKeyAttributes = (cVlan); 
}
