{
    attributes = (
        {
            columnName = "ADR_NOM"; 
            externalType = VARCHAR2; 
            name = adrNom; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            columnName = "ADR_PRENOM"; 
            externalType = VARCHAR2; 
            name = adrPrenom; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            columnName = "CHOIX_INTEGRE"; 
            externalType = VARCHAR2; 
            name = choixIntegre; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }, 
        {
            columnName = "ETAT_RN"; 
            externalType = NUMBER; 
            name = etatRN; 
            precision = 1; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "ETUD_NUMERO"; 
            externalType = NUMBER; 
            name = etudNumero; 
            precision = 6; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "FANN_KEY"; 
            externalType = NUMBER; 
            name = fannKey; 
            precision = 4; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "FORMATION_ABREVIATION"; 
            externalType = VARCHAR2; 
            name = formationAbreviation; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 50; 
        }, 
        {
            columnName = "FSPN_KEY"; 
            externalType = NUMBER; 
            name = fspnKey; 
            precision = 6; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "IDIPL_ANNEE_SUIVIE"; 
            externalType = NUMBER; 
            name = idiplAnneeSuivie; 
            precision = 1; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "IMREC_DISPENSE"; 
            externalType = NUMBER; 
            name = imrecDispense; 
            precision = 6; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "IMREC_ETAT"; 
            externalType = NUMBER; 
            name = imrecEtat; 
            precision = 1; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "IMREC_SESSION1"; 
            externalType = NUMBER; 
            name = imrecSession1; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            columnName = "IMREC_SESSION2"; 
            externalType = NUMBER; 
            name = imrecSession2; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            columnName = "MAIL_COMPLET"; 
            externalType = VARCHAR2; 
            name = mailComplet; 
            valueClassName = NSString; 
            valueType = S; 
            width = 80; 
        }, 
        {
            columnName = "MEC_KEY"; 
            externalType = NUMBER; 
            name = mecKey; 
            precision = 6; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "MSEM_KEY"; 
            externalType = NUMBER; 
            name = msemKey; 
            precision = 12; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (etatRN, idiplAnneeSuivie); 
    className = EOGenericRecord; 
    classProperties = (
        adrNom, 
        adrPrenom, 
        choixIntegre, 
        etatRN, 
        etudNumero, 
        fannKey, 
        formationAbreviation, 
        fspnKey, 
        idiplAnneeSuivie, 
        imrecDispense, 
        imrecEtat, 
        imrecSession1, 
        imrecSession2, 
        mailComplet, 
        msemKey
    ); 
    externalName = "V_LISTE_INSC_EC_MAIL"; 
    internalInfo = {
        "_clientClassPropertyNames" = (
            adrNom, 
            adrPrenom, 
            choixIntegre, 
            etudNumero, 
            fannKey, 
            fspnKey, 
            imrecDispense, 
            imrecSession1, 
            imrecSession2, 
            mecKey, 
            msemKey
        ); 
    }; 
    name = VListeInscEc; 
    primaryKeyAttributes = (etudNumero, fspnKey, mecKey, msemKey); 
}
