{
    attributes = (
        {
            columnName = dipl; 
            externalType = VARCHAR2; 
            name = dipl; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 10; 
        }, 
        {
            columnName = "MEC_KEY"; 
            externalType = NUMBER; 
            name = mecKey; 
            precision = 6; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (dipl, mecKey); 
    className = EOGenericRecord; 
    classProperties = (dipl); 
    externalName = "v_liste_dipl_pour_ec"; 
    internalInfo = {"_javaClientClassName" = VListeDiplPourEc; }; 
    name = VListeDiplPourEc; 
    primaryKeyAttributes = (dipl, mecKey); 
}
