{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "COMMENTAIRE_LOG"; 
            externalType = VARCHAR2; 
            name = commentaireLog; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            columnName = "DATE_LOG"; 
            externalType = DATE; 
            name = dateLog; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            columnName = "ETUD_NUMERO"; 
            externalType = NUMBER; 
            name = etudNumero; 
            precision = 6; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "FANN_KEY"; 
            externalType = NUMBER; 
            name = fannKey; 
            precision = 4; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "IDIPL_NUMERO"; 
            externalType = NUMBER; 
            name = idiplNumero; 
            precision = 6; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "LIB_TYPE_ACTION"; 
            externalType = VARCHAR2; 
            name = libTypeAction; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            columnName = "LOG_ORDRE"; 
            externalType = NUMBER; 
            name = logOrdre; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "MSEM_KEY"; 
            externalType = NUMBER; 
            name = msemKey; 
            precision = 6; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (idiplNumero, logOrdre); 
    className = EOGenericRecord; 
    classProperties = (
        commentaireLog, 
        dateLog, 
        etudNumero, 
        fannKey, 
        idiplNumero, 
        libTypeAction, 
        msemKey
    ); 
    externalName = "V_LOGS_COMPLETS"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (commentaireLog, etudNumero, fannKey, idiplNumero, libTypeAction, msemKey); 
    }; 
    name = VLogsComplets; 
    primaryKeyAttributes = (logOrdre); 
}
