{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "ANNEE_SUIVIE"; 
            externalType = NUMBER; 
            name = anneeSuivie; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "FANN_KEY"; 
            externalType = NUMBER; 
            name = fannKey; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "FSPN_KEY"; 
            externalType = NUMBER; 
            name = fspnKey; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "MSEM_KEY"; 
            externalType = NUMBER; 
            name = msemKey; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "MSEM_ORDRE"; 
            externalType = NUMBER; 
            name = msemOrdre; 
            precision = 2; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "NB_INSC_SEM"; 
            externalType = NUMBER; 
            name = nbInscSem; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "NB_IP_COMPLETES"; 
            externalType = NUMBER; 
            name = nbIpCompletes; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "NB_IP_DEBUTEES"; 
            externalType = NUMBER; 
            name = nbIpDebutees; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (fannKey, fspnKey, msemKey, msemOrdre); 
    className = EOGenericRecord; 
    classProperties = (
        anneeSuivie, 
        fannKey, 
        fspnKey, 
        msemKey, 
        msemOrdre, 
        nbInscSem, 
        nbIpCompletes, 
        nbIpDebutees
    ); 
    externalName = "V_STAT_IP_SEM"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (
            anneeSuivie, 
            fannKey, 
            fspnKey, 
            msemKey, 
            msemOrdre, 
            nbInscSem, 
            nbIpCompletes, 
            nbIpDebutees
        ); 
    }; 
    name = VStatIpSem; 
    primaryKeyAttributes = (fannKey, fspnKey, msemOrdre); 
}
