<webobject name = "CRIDefaultPage1">
  <webobject name = "scriptCacheDetail" />
  <table align = "CENTER" border = "0" cellspacing = "2" cellpadding = "0" width = "1000">
    <tr>
      <td align = "CENTER" width = "150" valign = "TOP" bgcolor = "#ffd342">
        <webobject name = "idEtudiant2" />
        <br />
        <webobject name = "lesFormationsSuivies" />
      </td>
      <td bgcolor = "#d5d5d5" valign = "TOP" width = "850"><webobject name = "lesIpDuSemestre" /></td>
    </tr>
  </table>
  <webobject name = "CRIHTMLFooter1" />
</webobject>