<webobject name = "htmpPage">
  <center>
    <table cellpadding = "1" cellspacing = "0" border = "0" width = "80%" class = "boxTitle">
      <tr>
        <td class = "titleInverse">&nbsp;D&eacute;connexion de l'application IP&nbsp;Web</td>
      </tr>
      <tr>
        <td class = "boxBorder">
          <table cellpadding = "10" cellspacing = "0" border = "0" width = "100%" class = "boxContents">
            <tr>
              <td align = "center" valign = "middle"><webobject name = "imgOffLine" /></td>
              <td align = "left" valign = "middle">
                <b>Vous avez demander &agrave; quitter l'application IP&nbsp;Web : Tous vos choix sont bien enregistr&eacute;s !<br />
                  <br />
                </b>Si vous souhaitez continuer &agrave; faire vos choix p&eacute;dagogiques, il vous faudra vous connecter &agrave; la page d'accueil de l'application et commencer une nouvelle session de travail.</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td align = "left" valign = "top">
                <table width = "100%" border = "0" cellpadding = "3" cellspacing = "0">
                  <tr valign = "middle">
                    <td width = "1%" align = "right"><webobject name = "imgItem" /></td>
                    <td width = "99%" align = "left">
                      <webobject name = "linkAppURL">Aller &agrave; la page d'accueil de l'application.</webobject>
                    </td>
                  </tr>
                  <webobject name = "siHasSiteUrlYES">
                    <tr valign = "middle">
                      <td width = "1%" align = "right"><webobject name = "imgItem" /></td>
                      <td width = "99%" align = "left">
                        <webobject name = "linkSiteURL">Allez &agrave; la page d'accueil du site Web.</webobject>
                      </td>
                    </tr>
                  </webobject>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </center>
  <br />
  <br />
  <br />
  <br />
  <br />
</webobject>
<webobject name = "CRIHTMLFooter1" />