<WEBOBJECT NAME=htmpPage>
	<CENTER>
		<TABLE CELLPADDING=1 CELLSPACING=0 BORDER=0 WIDTH=80% CLASS=boxTitle>
			<TR>
				<TD CLASS=titleInverse>ACCES&nbsp;NON&nbsp;AUTORISE &agrave; l'application IP&nbsp;Web</TD>
			</TR>
			<TR>
				<TD CLASS=boxBorder>
					<TABLE CELLPADDING=10 CELLSPACING=0 BORDER=0 WIDTH=100% CLASS=boxContents>
						<TR>
							<TD ALIGN=center VALIGN=middle><WEBOBJECT NAME=imgOffLine></WEBOBJECT></TD>
							<TD ALIGN=CENTER VALIGN=middle><B>Votre identifiant est bien reconnu (fait partie du fichier du personnel de l'universit&eacute;)... <br>mais votre profil utilisateur 
								</B><b>n'estvisiblement pas configur&eacute; !<br><br>(si vous &ecirc;tes enseignant, les droits de consultation n'ont peut-&ecirc;tre pas &eacute;t&eacute; renseign&eacute;s par le service de la Scolarit&eacute;)<BR><br><BR></b><b>Pour l'instant, </b><b>vous ne pouvez donc pas acc&eacute;der &agrave; l' application IP&nbsp;Web&nbsp;avec cet identifiant.<BR></b><BR>Un mail vient d'etre envoy&eacute; au CRI&nbsp;pour signaler ce probl&egrave;me.</TD>
						</TR>
						<TR>
							<TD>&nbsp;</TD>
							<TD ALIGN=left VALIGN=top>
								<TABLE WIDTH=100% BORDER=0 CELLPADDING=3 CELLSPACING=0>
									<TR VALIGN=middle>
										<TD WIDTH=1% ALIGN=right><WEBOBJECT NAME=imgItem></WEBOBJECT></TD>
										<TD WIDTH=99% ALIGN=left><WEBOBJECT NAME=linkAppURL>Aller &agrave; la page d'accueil de
												l'application.</WEBOBJECT></TD>
									</TR>
									<WEBOBJECT NAME=siHasSiteUrlYES>
										<TR VALIGN=middle>
											<TD WIDTH=1% ALIGN=right><WEBOBJECT NAME=imgItem></WEBOBJECT></TD>
											<TD WIDTH=99% ALIGN=left><WEBOBJECT NAME=linkSiteURL>Allez &agrave; la page d'accueil du site
													Web.</WEBOBJECT></TD>
										</TR>
									</WEBOBJECT>
								</TABLE>
							</TD>
						</TR>
					</TABLE>
				</TD>
			</TR>
		</TABLE>
	</CENTER>
	<BR>
	<BR>
	<BR>
	<BR>
	<BR>
</WEBOBJECT>