<webobject name = "htmpPage">
  <center>
    <table cellpadding = "1" cellspacing = "0" border = "0" width = "80%" class = "boxTitle">
      <tr>
        <td class = "titleInverse">ACCES&nbsp;NON&nbsp;AUTORISE &agrave; l'application IP&nbsp;Web</td>
      </tr>
      <tr>
        <td class = "boxBorder">
          <table cellpadding = "10" cellspacing = "0" border = "0" width = "100%" class = "boxContents">
            <tr>
              <td align = "center" valign = "middle"><webobject name = "imgOffLine" /></td>
              <td align = "CENTER" valign = "middle">
                <b>Votre identifiant est bien reconnu (fait partie du fichier du personnel de l'universit&eacute;)... 
                  <br />mais votre profil utilisateur 
                </b>
                <b>n'estvisiblement pas configur&eacute; !<br />
                  <br />(si vous &ecirc;tes enseignant, les droits de consultation n'ont peut-&ecirc;tre pas &eacute;t&eacute; renseign&eacute;s par le service de la Scolarit&eacute;)<br />
                  <br />
                  <br />
                </b>
                <b>Pour l'instant, </b>
                <b>vous ne pouvez donc pas acc&eacute;der &agrave; l' application IP&nbsp;Web&nbsp;avec cet identifiant.<br /></b>
                <br />Un mail vient d'etre envoy&eacute; au CRI&nbsp;pour signaler ce probl&egrave;me.</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td align = "left" valign = "top">
                <table width = "100%" border = "0" cellpadding = "3" cellspacing = "0">
                  <tr valign = "middle">
                    <td width = "1%" align = "right"><webobject name = "imgItem" /></td>
                    <td width = "99%" align = "left">
                      <webobject name = "linkAppURL">Aller à la page d'accueil de
                        l'application.</webobject>
                    </td>
                  </tr>
                  <webobject name = "siHasSiteUrlYES">
                    <tr valign = "middle">
                      <td width = "1%" align = "right"><webobject name = "imgItem" /></td>
                      <td width = "99%" align = "left">
                        <webobject name = "linkSiteURL">Allez à la page d'accueil du site
                          Web.</webobject>
                      </td>
                    </tr>
                  </webobject>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </center>
  <br />
  <br />
  <br />
  <br />
  <br />
</webobject>