<webobject name = "CRIDefaultPage1">
  <H1>
    <font color = "#0200a3">
      <b>Acc&egrave;s aux Inscriptions P&eacute;dagogiques (&eacute;tudiants pr&eacute;-inscrits)</b>
    </font>
  </H1>
  <br />
  <br />
  <webobject name = "Image0" />
  <br />
  <br />
  <br />
  <br />
  <center>
    <webobject name = "Image1" />&nbsp;&nbsp;<b>
      <big>Acc&egrave;s sans inscription administrative</big>
      ...</b>
    <hr color = "#0069b3" style = "filter:alpha(opacity=100, finishopacity=0,style=1 )" width = "70%" />
    Cet acc&egrave;s ne doit &ecirc;tre utilis&eacute; que dans le cas o&ugrave; 
    <b>vous n'&ecirc;tes pas encore inscrit administrativement</b>.<br />
    <b>Pour obtenir le statut d'&eacute;tudiant,</b>
    <b>
      <font color = "#ff232f">REGULARISEZ&nbsp;VOTRE&nbsp;SITUATION AU&nbsp;PLUS&nbsp;VITE</font>
      aupr&egrave;s de la scolarit&eacute;.</b>
    <br />
    <br />(Si vous n'&ecirc;tes pas inscrit 
    <b>administrativement</b>
    &agrave; la fin de la p&eacute;riode d'IP&nbsp;par le Web, vos choix d'options risquent d'&ecirc;tre perdus) 
    <br />
    <hr noshade color = "#0069b3" width = "70%" style = "filter:alpha(opacity=100, finishopacity=0,style=1 )" />
    <br />
    <br />
    <webobject name = "formIdentification">
      <table cellspacing = "0" border = "0" width = "700">
        <tr>
          <td height = "30" align = "center" bgcolor = "#b7efff" colspan = "2" valign = "middle">
            <b>
              <big>Identifiez-vous avec les informations donn&eacute;es lors de votre pr&eacute;-inscription :</big>
            </b>
          </td>
        </tr>
        <tr bgcolor = "#d9d9d9">
          <td height = "30" align = "right">
            <b>N&deg;&nbsp;INE(**)&nbsp; :&nbsp;</b>
          </td>
          <td><webobject name = "TextField1" /></td>
        </tr>
        <tr bgcolor = "#d9d9d9">
          <td height = "30" align = "right">
            <b>Date de Naissance</b>&nbsp;<font color = "#a9a9a9">(ex. 1/1/1988)</font>
            <b />
          </td>
          <td><webobject name = "PasswordField2" /></td>
        </tr>
        <tr>
          <td height = "35" bgcolor = "#b7efff" colspan = "2" align = "center" valign = "middle">
            <webobject name = "SubmitButton1" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<webobject name = "SubmitButton3" />
          </td>
        </tr>
      </table>
    </webobject>
    <webobject name = "erreurLogin">
      <hr class = "subLine" />
      <b>
        <font class = "textError"><webobject name = "String3" /></font>
        <br />Veuillez v&eacute;rifier votre saisie.</b>
    </webobject>
    <br />
    <br />
    <table cellspacing = "1" width = "700" border = "0">
      <tr>
        <td align = "right">(*)</td>
        <td align = "LEFT">Votre 
          <b>num&eacute;ro INE&nbsp;(10 chiffres + 1 lettre)</b>
          est sur le 
          <b>relev&eacute; de notes au Bac</b>. Il a d&eacute;j&agrave; servi &agrave; votre pr&eacute;inscription.</td>
      </tr>
      <tr>
        <td align = "right">(**)</td>
        <td align = "LEFT">Si vous &eacute;tiez inscrit l'an dernier, le 
          <b>N&deg;&nbsp;INE (11 caract&egrave;res)</b>
          est imprim&eacute; sur votre 
          <b>ancienne carte d'&eacute;tudiant</b>.</td>
      </tr>
    </table>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <hr width = "80%" />
  </center>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <webobject name = "CRIHTMLFooter1" />
</webobject>