
span.erreur /* pour souligner une erreur ! */    { color: #c00; font-weight: bold; text-decoration: none }
span.erreur a:link { color: #c00; font-weight: bold; text-decoration: underline; cursor: help }
span.UeIncomplete /* UE ou il manque des EC */  { color: #f00; font-size: inherit; font-weight: bold; text-decoration: none; background-color: #fff }
span.UeComplete { color: #0c3; font-size: inherit; font-weight: bold; text-decoration: none }
span.UeSansChoix { font-style: italic; text-decoration: none }
span.UeTropEc { color: #c00; font-weight: normal; text-decoration: none }
span.SemIncomplet /* Semestre ou il manque des choix */  { color: #f00; font-size: inherit; font-weight: bold; text-decoration: none;}
span.SemAConfirmer /* Semestre ou les choix sont complets mais pas confirmés */  { color: #B0A; font-size: inherit; font-weight: bold; text-decoration: none;}
span.SemComplet { color: #0c3; font-size: inherit; font-weight: bold; text-decoration: none }
span.SemSansChoix { color: #000; font-style: italic; text-decoration: none }
span.SemHorsIp { color: #888; text-decoration: none }
span.commentaire /* pour les zones de commentaires... */  { color: teal; font-style: italic; text-decoration: none }
span.validee /* Pour une EC deja validee... */   { color: #090; font-weight: bold; text-decoration: none }
span.DateIpSem /* pour une date d'IP au niveau semestre */ { color: #000; font-weight: bold; text-decoration: none }
span.DateIpDom /* pour une date d'IP au niveau semestre */ { color: #666; font-style: italic; text-decoration: none }
span.normal /* aucun autre cas ! */   { text-decoration: none }
span.ChoixPris /* pour un choix pris */ { color: #F00; font-weight: bold; text-decoration: none }
span.ChoixImpossible /* pour un choix impossible */ { color: #888; font-style: italic; text-decoration: none }
span.ChoixPrisNonModif /* pour un choix pris, mais non modifiable */ { color: #F88; font-weight: bold; font-style: italic; text-decoration: none }
span.nonselected { font-size: inherit; text-decoration: none }
span.selected { color: #c00; font-size: inherit; font-weight: bold; text-decoration: none }

/* definition integree au document des styles specifiques � IP Web ! */
 *.hide {display: none;}
 *.show {display: block;}

.annee {
	border-bottom:1px dotted #fff;
	margin-left:20px;
}

.button {
	border-left: 1px solid rgb(140,140,140);
	border-right: 1px solid rgb(140,140,140);
	border-bottom: 1px solid rgb(140,140,140);
	border-top: 1px solid rgb(149,149,149);
	-moz-border-radius: 3px;
	background-color:#ccc;
	background-image: linear-gradient(bottom, rgb(230,230,230) 29%, rgb(245,245,245) 71%, rgb(255,255,255) 86%);
	background-image: -o-linear-gradient(bottom, rgb(230,230,230) 29%, rgb(245,245,245) 71%, rgb(255,255,255) 86%);
	background-image: -moz-linear-gradient(bottom, rgb(230,230,230) 29%, rgb(245,245,245) 71%, rgb(255,255,255) 86%);
	background-image: -webkit-linear-gradient(bottom, rgb(230,230,230) 29%, rgb(245,245,245) 71%, rgb(255,255,255) 86%);
	background-image: -ms-linear-gradient(bottom, rgb(230,230,230) 29%, rgb(245,245,245) 71%, rgb(255,255,255) 86%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.29, rgb(230,230,230)),
		color-stop(0.71, rgb(245,245,245)),
		color-stop(0.86, rgb(255,255,255))
	);
	border-radius: 3px;
	display:inline-block;
	padding:2px;
	color: black;
	text-decoration: none;
}

.button:hover {
	text-decoration: none;
}
