{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "MREC_KEY_CIBLE"; 
            externalType = NUMBER; 
            name = mrecKeyCible; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "MSEM_KEY"; 
            externalType = NUMBER; 
            name = msemKey; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "RCE_COMMENTAIRE_CONTRAINTE"; 
            externalType = VARCHAR2; 
            internalInfo = {"_nameInObjectStore" = "REC_COMMENTAIRE_CONTRAINTE"; }; 
            name = rceCommentaireContrainte; 
            valueClassName = NSString; 
            valueType = S; 
            width = 400; 
        }, 
        {
            allowsNull = Y; 
            columnName = "RCE_ESPACE_SOLUTION"; 
            externalType = VARCHAR2; 
            internalInfo = {"_nameInObjectStore" = "REC_CONTRAINTE_TRAITEE"; }; 
            name = rceEspaceSolution; 
            valueClassName = NSString; 
            valueType = S; 
            width = 800; 
        }, 
        {
            columnName = "RCE_FORMULE_CONTRAINTE"; 
            externalType = VARCHAR2; 
            name = rceFormuleContrainte; 
            valueClassName = NSString; 
            valueType = S; 
            width = 400; 
        }, 
        {
            allowsNull = Y; 
            columnName = "RCE_LISTE_VARIABLES"; 
            externalType = VARCHAR2; 
            name = rceListeVariables; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            columnName = "RCE_ORDRE"; 
            externalType = NUMBER; 
            name = rceOrdre; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "RCE_TYPE_RELATION"; 
            externalType = VARCHAR2; 
            name = rceTypeRelation; 
            valueClassName = NSString; 
            valueType = s; 
            width = 1; 
        }
    ); 
    attributesUsedForLocking = (mrecKeyCible, msemKey, rceOrdre); 
    className = IpRelationChoixEc; 
    classProperties = (
        mrecKeyCible, 
        msemKey, 
        rceCommentaireContrainte, 
        rceEspaceSolution, 
        rceFormuleContrainte, 
        rceListeVariables, 
        rceTypeRelation
    ); 
    externalName = "IP_RELATION_CHOIX_EC"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_clientClassPropertyNames" = (mrecKeyCible); }; 
    name = IpRelationChoixEc; 
    primaryKeyAttributes = (rceOrdre); 
}
