{
    attributes = (
        {
            allowsNull = N; 
            columnName = "IPCOM_KEY"; 
            externalType = NUMBER; 
            name = ipcomKey; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "MREC_KEY"; 
            externalType = NUMBER; 
            name = mrecKey; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (ipcomKey, mrecKey); 
    className = EOGenericRecord; 
    classProperties = (toIpUeEcComment, toVMaqEcChoix); 
    externalName = "REPART_EC_COMMENT"; 
    fetchSpecificationDictionary = {}; 
    name = RepartEcComment; 
    primaryKeyAttributes = (ipcomKey, mrecKey); 
    relationships = (
        {
            destination = IpUeEcComment; 
            isMandatory = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = ipcomKey; sourceAttribute = ipcomKey; }); 
            name = toIpUeEcComment; 
        }, 
        {
            deleteRule = EODeleteRuleNoAction; 
            destination = VMaqEcChoix; 
            isMandatory = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = mrecKey; sourceAttribute = mrecKey; }); 
            name = toVMaqEcChoix; 
        }
    ); 
}
