{
    attributes = (
        {
            columnName = "DLOG_KEY"; 
            externalType = NUMBER; 
            name = dlogKey; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "DLOG_LOGIN"; 
            externalType = VARCHAR2; 
            name = dlogLogin; 
            valueClassName = NSString; 
            valueType = S; 
            width = 12; 
        }, 
        {
            allowsNull = Y; 
            columnName = "DLOG_NOM"; 
            externalType = VARCHAR2; 
            name = dlogNom; 
            valueClassName = NSString; 
            valueType = S; 
            width = 80; 
        }, 
        {
            allowsNull = Y; 
            columnName = "DLOG_PRENOM"; 
            externalType = VARCHAR2; 
            name = dlogPrenom; 
            valueClassName = NSString; 
            valueType = S; 
            width = 60; 
        }, 
        {
            columnName = "DLOG_VALIDE"; 
            externalType = VARCHAR2; 
            name = dlogValide; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }
    ); 
    attributesUsedForLocking = (dlogKey); 
    className = EOGenericRecord; 
    classProperties = (dlogKey, dlogLogin, dlogNom, dlogPrenom, dlogValide, scolDroitDiplomes); 
    externalName = "SCOL_DROIT_LOGIN"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (dlogKey, dlogLogin, dlogNom, dlogPrenom, dlogValide); 
    }; 
    name = ScolDroitLogin; 
    primaryKeyAttributes = (dlogKey); 
    relationships = (
        {
            destination = ScolDroitDiplome; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = cptLogin; sourceAttribute = dlogLogin; }); 
            name = scolDroitDiplomes; 
        }
    ); 
}
