{
    attributes = (
        {
            allowsNull = N; 
            columnName = "FANN_KEY"; 
            externalType = NUMBER; 
            name = fannKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "MSEM_BONIFIABLE"; 
            externalType = NUMBER; 
            name = msemBonifiable; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "MSEM_DATE_DEBUT"; 
            externalType = DATE; 
            name = msemDateDebut; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            allowsNull = N; 
            columnName = "MSEM_DATE_FIN"; 
            externalType = DATE; 
            name = msemDateFin; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            allowsNull = N; 
            columnName = "MSEM_HORAIRE_ETU"; 
            externalType = NUMBER; 
            name = msemHoraireEtu; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            allowsNull = N; 
            columnName = "MSEM_KEY"; 
            externalType = NUMBER; 
            name = msemKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "MSEM_NOTE_BASE"; 
            externalType = NUMBER; 
            name = msemNoteBase; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            allowsNull = N; 
            columnName = "MSEM_NOTE_ELIMINATION"; 
            externalType = NUMBER; 
            name = msemNoteElimination; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            allowsNull = N; 
            columnName = "MSEM_NOTE_OBTENTION"; 
            externalType = NUMBER; 
            name = msemNoteObtention; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            allowsNull = N; 
            columnName = "MSEM_ORDRE"; 
            externalType = NUMBER; 
            name = msemOrdre; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "MSEM_POINTS"; 
            externalType = NUMBER; 
            name = msemPoints; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            allowsNull = N; 
            columnName = "MSEM_POINTS_CONTRAINTE"; 
            externalType = NUMBER; 
            name = msemPointsContrainte; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "MSEM_SEMAINE_SESSION1"; 
            externalType = NUMBER; 
            name = msemSemaineSession1; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "MSEM_SEMAINE_SESSION2"; 
            externalType = NUMBER; 
            name = msemSemaineSession2; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (msemKey); 
    className = EOGenericRecord; 
    classProperties = (
        fannKey, 
        msemBonifiable, 
        msemDateDebut, 
        msemDateFin, 
        msemHoraireEtu, 
        msemKey, 
        msemNoteBase, 
        msemNoteElimination, 
        msemNoteObtention, 
        msemOrdre, 
        msemPoints, 
        msemPointsContrainte, 
        msemSemaineSession1, 
        msemSemaineSession2
    ); 
    externalName = "SCOLARITE.SCOL_MAQUETTE_SEMESTRE"; 
    fetchSpecificationDictionary = {}; 
    name = ScolMaquetteSemestre; 
    primaryKeyAttributes = (msemKey); 
}
