{
    attributes = (
        {
            columnName = "FANN_KEY"; 
            externalType = NUMBER; 
            name = fannKey; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "MAP_GROUPE_PREVU"; 
            externalType = NUMBER; 
            name = mapGroupePrevu; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "MAP_GROUPE_REEL"; 
            externalType = NUMBER; 
            name = mapGroupeReel; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "MAP_KEY"; 
            externalType = NUMBER; 
            name = mapKey; 
            precision = 12; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "MAP_LIBELLE"; 
            externalType = VARCHAR2; 
            name = mapLibelle; 
            valueClassName = NSString; 
            width = 100; 
        }, 
        {
            columnName = "MAP_SEUIL"; 
            externalType = NUMBER; 
            name = mapSeuil; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "MAP_VALEUR"; 
            externalType = NUMBER; 
            name = mapValeur; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            columnName = "MHCO_CODE"; 
            externalType = VARCHAR2; 
            name = mhcoCode; 
            valueClassName = NSString; 
            width = 5; 
        }
    ); 
    attributesUsedForLocking = (
        mapGroupePrevu, 
        mapGroupeReel, 
        mapKey, 
        mapLibelle, 
        mapSeuil, 
        mapValeur, 
        mhcoCode
    ); 
    className = "nc.univ.ipweb.metier.scol.ScolMaquetteAp"; 
    classProperties = (
        fannKey, 
        mapGroupePrevu, 
        mapGroupeReel, 
        mapLibelle, 
        mapSeuil, 
        mapValeur, 
        mhcoCode, 
        scolMaquetteChargesAp, 
        scolMaquetteRepartitionAps
    ); 
    externalName = "SCOLARITE.SCOL_MAQUETTE_AP"; 
    fetchSpecificationDictionary = {}; 
    name = ScolMaquetteAp; 
    primaryKeyAttributes = (mapKey); 
    relationships = (
        {
            destination = ScolMaquetteChargesAp; 
            isMandatory = Y; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = mapKey; sourceAttribute = mapKey; }); 
            name = scolMaquetteChargesAp; 
        }, 
        {
            destination = ScolMaquetteRepartitionAp; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = mapKey; sourceAttribute = mapKey; }); 
            name = scolMaquetteRepartitionAps; 
        }
    ); 
}
