{
    attributes = (
        {
            allowsNull = N; 
            columnName = "CABS_KEY"; 
            externalType = NUMBER; 
            name = cabsKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "CABS_LIBELLE"; 
            externalType = VARCHAR2; 
            name = cabsLibelle; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }
    ); 
    attributesUsedForLocking = (cabsKey); 
    className = EOGenericRecord; 
    classProperties = (cabsKey, cabsLibelle); 
    externalName = "SCOLARITE.SCOL_CONSTANTE_ABSENCE"; 
    fetchSpecificationDictionary = {}; 
    name = ScolConstanteAbsence; 
    primaryKeyAttributes = (cabsKey); 
}
