{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "MREC_COMMENT"; 
            externalType = VARCHAR2; 
            name = mrecComment; 
            valueClassName = NSString; 
            valueType = S; 
            width = 300; 
        }, 
        {
            columnName = "MREC_KEY"; 
            externalType = NUMBER; 
            name = mrecKey; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "MSEM_KEY"; 
            externalType = NUMBER; 
            name = msemKey; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (mrecKey, msemKey); 
    className = EOGenericRecord; 
    classProperties = (mrecComment, mrecKey, msemKey); 
    externalName = "V_EC_COMMENT"; 
    fetchSpecificationDictionary = {}; 
    name = VEcComment; 
    primaryKeyAttributes = (mrecKey, msemKey); 
}
