<webobject name = "Conditional3">
  <table cellpadding = "2" cellspacing = "1" border = "0">
    <tr>
      <td valign = "top"><webobject name = "PopUpSelection1" /></td>
      <td valign = "top">
        <webobject name = "Conditional1"> <webobject name = "PopUpSelection2" /> </webobject>
        <webobject name = "CondHabNiveau"> <webobject name = "PopUpSelectionAnee" /> </webobject>
      </td>
      <td valign = "top">
        <webobject name = "Conditional2"><webobject name = "PopUpSelection3" /></webobject>
      </td>
    </tr>
  </table>
</webobject>
<webobject name = "Conditional4">
  <big>
    <i>Vous n'avez pas acc&egrave;s &agrave; la liste des dipl&ocirc;mes (voir le service de la Scolarit&eacute; pour octroi de droits en consultation &eacute;ventuels...)</i>
  </big>
</webobject>